{{define "nav"}}
<nav>
    <div class="navbar bg-base-100">
      <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl">go-rss</a>
      </div>
      <div class="flex-none">
          <ul class="menu menu-horizontal px-1">
        {{if .IsAuthenticated}}
        <li>
            <form action="/users/logout" method="post">
                <button type="submit">Logout</button>
            </form>
            </li>
        {{else}}
            <li> <a href='/signup'>Signup</a> </a>
            <li> <a href='/login'>Login</a> </a>
        {{end}}
        </ul>
    </div>
    </div>
</nav>
{{end}}