{{define "posts"}}
{{if .}}
    {{range $name, $post := . }}
      <h3 class="text-center text-2xl my-4">{{$name}}</h3>
        <div class="flex overflow-x-auto space-x-4 p-4">
            {{range $post }}
                <div class="card w-96 bg-primary text-primary-content flex-shrink-0 transform transition-transform hover:scale-105">
                    <a href="{{.Url}}">
                        <div class="card-body">
                            <h2 class="card-title">{{.Title}}</h2>
                            <p>{{.Description}}</p>
                            <span>{{.PublishedAt}}</span>
                        </div>
                    </a>
                </div>
            {{end}}
        </div>
    {{end}}
{{else}}
    <h2> No posts! </h2>
{{end}}
{{end}}
