{{define "posts"}}
{{if .}}
    {{range $name, $post := . }}
      <h3>{{$name}}</h3>
      {{range $post }}
        <div class="card w-96 bg-primary text-primary-content">
            <a href={{.Url}}>
          <div class="card-body">
            <h2 class="card-title">{{.Title}}</div>
            <p>{{.Description}}</p>
            <span
              class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"
              >{{.PublishedAt}}</span
            >
         </div>
          </a>
        </div>
    {{end}}
    {{end}}
{{else}}
<h2> No posts! </h2>
{{end}}
{{end}}
